<h1>Soundcloud Download {v1.0}</h1>
<h2>Only full track downloads from Soundcloud</h2>

<div id="nav"><ul id="genres" class="menu">
	<li class="<%=class_for "house"%>"><a href="/?genre=house">House</a></li>
	<li class="<%=class_for "techno"%>"><a href="/?genre=techno">Techno</a></li>
	<li class="<%=class_for "acid"%>"><a href="/?genre=acid">Acid</a></li>
	<li class="<%=class_for "hip hop"%>"><a href="/?genre=hip hop">Hip Hop</a></li>
	<li class="<%=class_for "drum and bass, dnb"%>"><a href="/?genre=drum and bass, dnb">Drum and Bass</a></li>
	<li><form action="/" method="get" accept-charset="utf-8">
	  <label for="genre">Search:</label>
	 <input type="text" name="genre" value="" id="genre">
   <input type="submit" value="Go &rarr;">
	</form></li>
</ul></div>

<ul class="trackList">
<% @hot_tracks.each do |track| %>
	<li>
	<% if track.streamable %><a class="soundcloud-player custom-size" id="custom-size" href="<%=h track.permalink_url %>">Play</a><% end %>
		

		<span class='genre'>[<%= track.genre %>]</span>
		
		<% if track.downloadable %>
		<span class='downLink'><a href="<%=h track.download_url %>">Download</a></span>
		<% end %>
</li>

<% end %>
</ul>