<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8' />
  <title>Cloud Down</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="/javascripts/player/player.css" type="text/css" media="screen" />
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'player/soundmanager2', 'player/player', 'player/demo' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <%= yield %>

</body>
</html>
